<div class="jumbotron text-center">
    <h1>Add Countries </h1>

    <!--<p>{{ message }}</p>-->

    <div ng-controller="addcountryController">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="addCountries()" style="margin-top:30px;">
                    <div>
                        <textarea class="isp-test" ng-keyup="resize($event)" ng-keydown="resize($event)" placeholder="Paste your countries here..." ng-model="formData.countryText"></textarea>
                    </div>
                    <!--     <b>Coutry of ISP</b><br>
                         <div class="form-group" align="center">
                           <input ng-model="formData.Country" class="form-control"  ng-style="{'width': 500 + 'px'}" required>
                           </input>
                         </div> -->

                    <br>

                    <div class="form-group" align="center">
                        <br>
                        <b> Select Target App</b>
                        <select ng-change="optionChanged()" ng-model="formData.appId">
                            <!--<option ng-repeat="app in apps" value="{{app.name}}">{{x.name}}</option>-->
                            <option ng-repeat="app in apps" value={{app.name}}>{{app.name}}</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>

                </form>

            </div>


        </div>
    </div>
</div>