<div ng-controller="siteController">
    <div class="jumbotron text-center">
        <h1>Add New App </h1>

        <!--<p>{{ message }}</p>-->

        <div ng-controller="addappController">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <form ng-submit="addApp()"
                          style="margin-top:30px;">
                        <b>AppId</b><br>
                        <br>
                        <div class="form-group" align="center">
                            <input ng-model="formData.name" class="form-control"  ng-style="{'width': 500 + 'px'}" required>
                            </input>
                        </div>
                        <br>

                        <div class="form-group" align="center">
                            <br>
                            <b> Select Target Country</b>
                            <select ng-model="formData.countryName">
                                <!--<option ng-repeat="app in apps" value="{{app.name}}">{{x.name}}</option>-->
                                <option ng-repeat="country in countries" value={{country.name}}>{{country.name}}</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Add List</button>
                    </form>
                </div>
            </div>
        </div>
    </div>