<div ng-controller="siteController">

    <div class="container">




        <div ng-controller="showappsController as list">


            <table align="center" valign="middle" style="margin-top:30px;">
                <tr>




                </tr>
                <tbody ng-repeat="app in apps">
                <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign='middle'"; >



                    <td>

                <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign='middle'";>
            <div >
                <div class="im-centered">

                    <div class="row is-flex row-leo">

                        <div class="col-md-3 col-xs-12 col-centered ban-img-holder-1">
                            <a ng-href=http://{{app.name}}  target="_blank"></a>
                            {{app.name}}


                        </div>
                          <button type="button" class="btn btn-default" ng-click="deleteApp(app._id)">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button type="button" class="btn btn-default" ng-click="updateApp(app._id)">
                    <span class="glyphicon glyphicon-edit"></span> Edit
                </button>
                </span>

                    </td>

                </tr>

                </tbody>

            </table>





        </div>
    </div>
</div>